
@{
    Layout = "~/Views/Shared/_Template.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="view-header">
                <div class="header-title" style="margin-left:0">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-box1"></i>
                    </div>
                    <h2 class="font-light m-b-xs">
                        Mission Expenses
                    </h2>
                    <small>View All Expenses:</small>
                </div>
            </div>
            <hr>
        </div>
    </div>
   
   

        <div class="row">
            <div class="col-md-3">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="m-b-md">
                            <h4>
                                Add Expenses
                            </h4>
                            <small>
                                Add expenses to your mission basend on diferent types below:
                            </small>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info btn-block" onclick="event.preventDefault();location.href='@Url.Action("AddAccExp", "ExpenseNote",new { id = ViewData["id"]})'" "><i class="fa fa-hotel"></i>   Accommodation</button>
                            <button class="btn btn-success btn-block" onclick="event.preventDefault(); location.href='@Url.Action("AddRestExp", "ExpenseNote",new { id = ViewData["id"]})'"><i class="fa fa-cutlery"></i>   Restauration</button>
                            <button class="btn btn-warning btn-block" onclick="event.preventDefault(); location.href='@Url.Action("AddTrspExp", "ExpenseNote",new { id = ViewData["id"]  })'"><i class="fa fa-automobile"></i>   Transport</button>
                            <button class="btn btn-danger btn-block" onclick="event.preventDefault(); location.href='@Url.Action("AddOtherExp", "ExpenseNote",new { id = ViewData["id"]  })'"><i class="fa fa-credit-card-alt"></i>   Other</button>

                        </div>

                    </div>

                </div>
            </div>


            <div class="col-md-9">

                <div class="hpanel forum-box" >

                    <div class="panel-heading" style="background-color:#1a9dc9">
                        <span class="pull-right">
                            <h6>   <i class="fa fa-money"> </i>  Total Cost :<strong> 750 </strong>TND </h6>
                        </span>
                        <h5> <strong> Accommodation Expenses </strong></h5>
                    </div>

                    <div class="panel-body">
                        @foreach (var p in ViewBag.acc)
                        {
                            <div class="row" style="display:block;padding-bottom:25px;">
                                <div class="col-md-10 forum-heading">

                                    <div class="desc">
                                        <strong> Type : </strong> @p.acctype
                                        <br />
                                        <strong> Duration : </strong> @p.duration
                                        <br />
                                        <strong> Bill : </strong> @p.accommodationBill
                                        <br />
                                        <strong>  Cost : </strong> @p.costs TND
                                    </div>
                                </div>
                                <div class=" pull-right" style="padding-right : 1em;margin-bottom:25px;">
                                    <button class="btn btn-danger btn-xs" type="button"><i class="fa fa-trash-o"></i></button>

                                    <button class="btn btn-info btn-xs" type="button"><i class="fa fa-paste"></i></button>
                                </div>
                            </div>
                            <div style="display:block;padding-bottom:1px;padding-top:1px;background-color:#1a9dc9"></div>
                            <div style="display:block;padding-bottom:10px;background-color:transparent"></div>
                        }
                            
                        </div>
                </div>
                <div class="hpanel forum-box">

                    <div class="panel-heading"  style="background-color:#16c46a">
                        <span class="pull-right">
                            <h6>   <i class="fa fa-money"> </i>  Total Cost :<strong> 300 </strong>TND </h6>
                        </span>
                        <h5> <strong> Restauration Expenses </strong></h5>
                    </div>
                    <div class="panel-body">
                        @foreach (var p in ViewBag.res)
                        {
                            <div class="row" style="display:block;margin-bottom:25px;">
                                <div class="col-md-10 forum-heading">

                                    <div class="desc">
                                        <strong> Bill : </strong> billRestauration.jpg
                                        <br />
                                        <strong>  Cost : </strong> 300 TND
                                    </div>
                                </div>
                                <div class=" pull-right" style="padding-right : 1em;">
                                    <button class="btn btn-danger btn-xs" type="button"><i class="fa fa-trash-o"></i></button>

                                    <button class="btn btn-info btn-xs" type="button"><i class="fa fa-paste"></i></button>
                                </div>
                            </div>
                            <div style="display:block;padding-bottom:1px;padding-top:1px;background-color:#16c46a"></div>
                            <div style="display:block;padding-bottom:10px;background-color:transparent"></div>
                        }
                        </div>
                </div>
                <div class="hpanel forum-box" >
                    <div class="panel-heading" style="background-color:#db9814">
                        <span class="pull-right">
                            <h6>   <i class="fa fa-money"> </i>  Total Cost :<strong> 750 </strong>TND </h6>
                        </span>
                        <h5> <strong> Transport Expenses </strong></h5>
                    </div>

                    <div class="panel-body">
                        @foreach (var p in ViewBag.trs)
                        {
                            <div class="row" style="display:block;margin-bottom:25px;">
                                <div class="col-md-10 forum-heading">

                                    <div class="desc">
                                        <strong> Type : </strong> Airline
                                        <br />
                                        <strong> Visa : </strong> 280 TND
                                        <br />
                                        <strong> KMS : </strong> 300 Km
                                        <br />
                                        <strong> BoradingTicket : </strong> BoradingTicket.jpg
                                        <br />
                                        <strong>  Cost : </strong> 600 TND
                                    </div>
                                </div>
                                <div class=" pull-right" style="padding-right : 1em;">
                                    <button class="btn btn-danger btn-xs" type="button"><i class="fa fa-trash-o"></i></button>

                                    <button class="btn btn-info btn-xs" type="button"><i class="fa fa-paste"></i></button>
                                </div>
                            </div>
                            <div style="display:block;padding-bottom:1px;padding-top:1px;background-color:#db9814"></div>
                            <div style="display:block;padding-bottom:10px;background-color:transparent"></div>
                        }
                    </div>
                </div>
                <div class="hpanel forum-box" >
                    <div class="panel-heading" style="background-color:#b81f14">
                        <span class="pull-right">
                            <h6>   <i class="fa fa-money"> </i>  Total Cost :<strong> 750 </strong>TND </h6>
                        </span>
                        <h5> <strong> Other Expenses </strong></h5>
                    </div>

                    <div class="panel-body">
                        @foreach (var p in ViewBag.oth)
                        {
                            <div class="row" style="display:block;margin-bottom:25px;">
                                <div class="col-md-10 forum-heading">
                                    <div class="desc">
                                        <strong> Type : </strong> Airline
                                        <br />
                                        <strong> Description : </strong> PiNet.servicePattern -> C:\Users\NOUIRA Nesrine\source\repos\ConsoleApp3\PiNet.servicePattern\bin\Debug\PiNet.servicePattern.dll
                                        <br />
                                        <strong> Bill : </strong> billAccommodation.jpg
                                        <br />
                                        <strong>  Cost : </strong> 450 TND
                                    </div>
                                </div>
                                <div class=" pull-right" style="padding-right : 1em;">
                                    <button class="btn btn-danger btn-xs" type="button"><i class="fa fa-trash-o"></i></button>
                                    <button class="btn btn-info btn-xs" type="button"><i class="fa fa-paste"></i></button>
                                </div>
                            </div>
                            <div style="display:block;padding-bottom:1px;padding-top:1px;background-color:#b81f14"></div>
                            <div style="display:block;padding-bottom:10px;background-color:transparent"></div>
                        }
                        </div>
                </div>
            </div>
        </div>
    </div>

